body{
    padding-top: min(10%, 4vw);
    background: white;
}

#blog-title h1{
    font-size: max(50%, 2vw);
    color: white;
    margin-left: 70px;
}

#navbar{
    padding: auto;
    height: max(6%, 5vw);
    justify-content:space-between;
    background: black;
    display:flex;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

ul{
    display: flex;
}

ul a{
    font-size: max(50%, 2vw);
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

#container{
    display:block;
    position:fixed;
    flex-direction: column;
    width: 100%;
    left: 0;
}

#about{
    display:flex;
    width: 100%;
    height: 100%;
    background: #3a6436;
}

#main-blog{
    display: flex;
    width: 100%;
    height: 100%;
    background: #edf2d8;
}