body{
    padding-top: min(78px, 100vw);
    background: white;
}

#blog-title h1{
   font-size: min(20px, 100vw);
    color: white;
    margin-left: 70px;
}

#navbar{
    padding: auto;
    height:max (60px, 100vw);
    justify-content:space-between;
    background: black;
    display:flex;
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}

ul{
    display: flex;
    list-style: none;
}

ul a{
    font-size: min(20px, 100vw);
    color: white;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

#container{
    display:block;
    position:fixed;
    flex-direction: column;
    width: 100%;
    left: 0;
}

#about{
    display:flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #3a6436;
    text-align: center;
}

#about h1{
    color: white;
    font-size: min(10px, 100vw);

}

#main-blog{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 2%;
    background: #edf2d8;
}

#postTemplate{
    margin: auto;
    padding: 2%;
    background-color: #d6dbbe;
    max-width: 80%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(184, 189, 163, 0.7);
}

#postTitle{
    font-family: 'Montserrat', sans-serif;
}

#postContent{
    font-family: 'Poppins', sans-serif;

}